{:duct.core/project-ns  scoopmarket
 :duct.core/environment :production
 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.middleware.web/defaults
 {:static {:resources ["scoopmarket/public" "contracts"]}}
 :duct.module/cljs {:main scoopmarket.client}
 :coop.magnet.duct-module/cljs-externs {:cljs-module #ig/ref :duct.module/cljs
                                        :externs ["resources/uport-connect.ext.js"]}

 :duct.module/ataraxy
 {[:get] [:index]}

 :scoopmarket.handler/index {}}
